@model VmRegister
@{
    ViewData["Title"] = "Register";
}

<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div asp-validation-summary="All" class="text-danger"></div>
            <form asp-controller="Account" asp-action="Register">
                <div class="mb-3">
                    <label asp-for="Name" class="form-label">Name</label>
                    <input class="form-control" asp-for="Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Surname" class="form-label">Surname</label>
                    <input class="form-control" asp-for="Surname">
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Email" class="form-label">Email</label>
                    <input type="email" class="form-control" asp-for="Email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Password" class="form-label">Password</label>
                    <input type="password" class="form-control" asp-for="Password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>
</div>

